@CHARSET "ISO-8859-1";

 .btn-personalized{
 	
    text-decoration: none;
    padding: 4px;
    font-weight: 600;
    font-size: 15px;
    color: #00a3f0;
    background: transparent;
    border-radius: 6px;
    border: 1px solid #00a3f0;
    user-select: none; 
  }
  .btn-personalized:hover{
    color: #03226b;
    background: transparent;
    border: 1px solid #03226b;
    user-select: none; 
  }

.panel-info{
	
}

.wdw, .wdw>.z-window-header, .z-messagebox-window, .z-messagebox-window>.z-window-header{
	border: bold;
/* 	background-color:#135bac; */
	background-color:rgba(1, 8, 130,1);
	color: #ffffff;
	font-size: 20pt;
	font-weight: bold;
	text-align: center;
}

.wdw>.z-window-content, .z-messagebox-window>.z-window-header{
	color:black;
}

.z-label{
	color: black;
	font-size: 10pt;
	font-weight: bold;
}
