
.z-navbar>ul .z-nav {
	height: 40px;
	border: 0;
	display: block;
}

.z-navbar>ul .z-navitem {
	background-color: red;
}

.z-navbar {
	background-color: rgba(164, 172, 174, 0.3);
}

.z-navbar>ul{
	margin: 10px 0 0;
	width: 220px
}

/* ESTO ES PARA LOS COMPONENTES NAV */
.z-navbar>ul .z-nav-content {
	background-color: rgba(164, 172, 174, 0.3);
	height: 40px;
	font-size: 30px;
	font-color: white;
}

/* ESTO ES PARA LOS COMPONENTES NAVITEM */
.z-navbar>ul .z-navitem-content {
	background-color: rgba(172, 0, 0, 0.2);
}

.z-navbar>ul .z-nav-content i, .z-navbar>ul .z-navitem-content i {
	margin-right: 10px;
	color: blue;
}